<div class="aside_list">
    <strong class="aside_list_title">{{aside_list_title}}</strong>
    <ul>
        {{#each aside_list}}
            <li>
                <a href="{{url}}" class="aside_list_link">{{text}}</a>
            </li>
        {{/each}}
    </ul>
</div>