<div class="news">
    <strong class="news_title">{{title}}</strong>
    <div class="news_info">
        {{date}} by
        <a href="#" class="news_author">{{author}}</a>
    </div>
    <p class="news_description">{{description}}</p>
    <a href="#" class="continue_link">Continue reading</a>
</div>